<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="home page page-template-default custom-background header-image masthead-fixed grid">

<div id="page" class="hfeed site">
	<div id="site-header"><a href="http://christian.lysel.net/" rel="home">
		<img src="https://lh5.googleusercontent.com/-BVpP4L4lA2I/U-DL8yHLHNI/AAAAAAAADng/1cupXdX8KfY/w1260-h240-no/sunset.jpg" width="1260" height="240" alt=""></a>
	</div>
<header id="masthead" class="site-header" role="banner">
	<div class="header-main">
		<h1 class="site-title"><a href="{{ site.url }}" rel="home">{{ site.title }}</a></h1>
	<div class="nav-menu"><ul>
    {% for page in site.pages %}
      <li class="page_item current_page_item"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>>
    {% endfor %}
</ul></div>
		</div>
	</header>
	<div id="main" class="site-main">
<div id="main-content" class="main-content">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
<article id="post" class="post page type-page status-publish hentry">

<div class="entry-content">
      <h1>Error page not found</h1>
	</div>
</article>

	</div>
	</div>
</div>

<div id="secondary">
		<h2 class="site-description">{{ site.description }}</h2>
	
	<div id="primary-sidebar" class="primary-sidebar widget-area" role="complementary">
			<aside id="categories-2" class="widget widget_categories"><h1 class="widget-title">Posts</h1>
			<ul>
    {% for post in site.posts %}
      	<li class="cat-item cat-item current-cat"><a href="{{ post.url | prepend: site.baseurl }}" title="View post {{post.title}}">{{post.title}}</a>
	</li>
    {% endfor %}
		</ul>
</aside>	</div>
	</div>

		</div><!-- #main -->

		<footer id="colophon" class="site-footer" role="contentinfo">

    {% include footer.html %}
			
		</footer><!-- #colophon -->
	</div><!-- #page -->

	<script type="text/javascript" src="/javascripts/functions.js"></script>

</body>
</html>
