<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="home page page-id-73 page-template-default custom-background header-image masthead-fixed grid">

<div id="page" class="hfeed site">
		<div id="site-header">
		<a href="http://christian.lysel.net/" rel="home">
			<img src="https://lh5.googleusercontent.com/-BVpP4L4lA2I/U-DL8yHLHNI/AAAAAAAADng/1cupXdX8KfY/w1260-h240-no/sunset.jpg" width="1260" height="240" alt="">
		</a>

		
		
		
		
	</div>
	<header id="masthead" class="site-header" role="banner">
		<div class="header-main">
			<h1 class="site-title"><a href="{{ site.url }}" rel="home">{{ site.title }}</a></h1>

			<div class="search-toggle">
				<a href="#search-container" class="screen-reader-text">Search</a>
			</div>

			<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
				<button class="menu-toggle">Primary Menu</button>
				<a class="screen-reader-text skip-link" href="#content">Skip to content</a>
<div class="nav-menu"><ul>
    {% for page in site.pages %}
      <li class="page_item page-item-5 current_page_item"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>>
    {% endfor %}
</ul></div>
			</nav>
		</div>

	</header><!-- #masthead -->

	<div id="main" class="site-main">

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

			
<article id="post-5" class="post-5 page type-page status-publish hentry">

<div class="entry-content">
      {{ content }}
	</div>
</article><!-- #post-## -->

		</div><!-- #content -->
	</div><!-- #primary -->
	<div id="content-sidebar" class="content-sidebar widget-area" role="complementary">
	<aside id="recent-posts-5" class="widget widget_recent_entries">		<h1 class="widget-title">Recent Posts</h1>		<ul>

    {% for post in site.posts %}
      <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
				</ul>
		</aside></div><!-- #content-sidebar -->
</div><!-- #main-content -->

<div id="secondary">
		<h2 class="site-description">{{ site.description }}</h2>
	
	<div id="primary-sidebar" class="primary-sidebar widget-area" role="complementary">
		<aside id="search-2" class="widget widget_search"><form role="search" method="get" class="search-form" action="http://christian.lysel.net/">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search …" value="" name="s" title="Search for:">
				</label>
				<input type="submit" class="search-submit" value="Search">
			</form></aside><aside id="categories-2" class="widget widget_categories"><h1 class="widget-title">Categories</h1>		<ul>
	<li class="cat-item cat-item-2 current-cat"><a href="http://christian.lysel.net/category/greve/" title="View all posts filed under Greve">Greve</a> (3)
</li>
	<li class="cat-item cat-item-3"><a href="http://christian.lysel.net/category/g%c3%b8rdetselv/" title="View all posts filed under Gørdetselv">Gørdetselv</a> (1)
</li>
	<li class="cat-item cat-item-4"><a href="http://christian.lysel.net/category/links/" title="View all posts filed under Links">Links</a> (20)
</li>
	<li class="cat-item cat-item-5"><a href="http://christian.lysel.net/category/multiplayer-game/" title="Free or Demo multiplayer games.">Multiplayer game</a> (11)
<ul class="children">
	<li class="cat-item cat-item-11"><a href="http://christian.lysel.net/category/multiplayer-game/fps/" title="First Person Shooter">First Person Shooter</a> (8)
</li>
	<li class="cat-item cat-item-6"><a href="http://christian.lysel.net/category/multiplayer-game/race/" title="View all posts filed under Race game">Race game</a> (2)
</li>
</ul>
</li>
	<li class="cat-item cat-item-7"><a href="http://christian.lysel.net/category/sjov/" title="View all posts filed under Sjov">Sjov</a> (20)
</li>
	<li class="cat-item cat-item-8"><a href="http://christian.lysel.net/category/software/" title="View all posts filed under Software">Software</a> (7)
</li>
	<li class="cat-item cat-item-9"><a href="http://christian.lysel.net/category/ubuntu/" title="View all posts filed under Ubuntu">Ubuntu</a> (3)
</li>
	<li class="cat-item cat-item-1"><a href="http://christian.lysel.net/category/uncategorized/" title="View all posts filed under Uncategorized">Uncategorized</a> (4)
</li>
		</ul>
</aside>	</div>
	</div>

		</div><!-- #main -->

		<footer id="colophon" class="site-footer" role="contentinfo">

    {% include footer.html %}
			
		</footer><!-- #colophon -->
	</div><!-- #page -->

	<script type="text/javascript" src="http://spindelnet.dk/wp-content/themes/twentyfourteen/js/functions.js?ver=20140319"></script>

</body>
</html>
