---
layout: default
---

<!-- Page Header -->
			  <div style="position: fixed; z-index: -99; width: 100%; height: 100%">
	<iframe frameborder="0" height="100%" width="100%" src="https://www.youtube.com/embed/9ZfN87gSjvI?autoplay=1&controls=0&loop=1&rel=0&showinfo=0&autohide=1&wmode=transparent&hd=1"></iframe>
  </div>


<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.header-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  
<div style="background-color: #fff; -moz-opacity: 0.85;
-khtml-opacity: 0.85;
opacity: 0.85;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);
filter:alpha(opacity=85);">
			{{ content }}
</div>		</div>
	</div>
</div>

<hr>
