---
layout: default
---

<article class="post type-post status-publish format-standard hentry category-security">
	
	<header class="entry-header">
				<div class="entry-meta">
			<span class="cat-links"><a href="http://spindelnet.dk/category/#security/" title="View all posts in Security" rel="category tag">Security</a></span>
		</div>
		<h1 class="entry-title">{{ page.title }}</h1>
			</header><!-- .entry-header -->

		<div class="entry-content">
		{{ content }} 
	</div><!-- .entry-content -->
	</article>

